!header_colour = #570186

=link_style
  a
    text-decoration: none
    &:hover
      text-decoration: underline

=rounded_corners
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

=georgia
  font: 
    family: Georgia, Times New Roman, serif
    size: 16px
  color: #000

=fic_border
  border-left: 1px #999 solid
  padding-left: 20px

#header
  margin-top: 40px
  padding-bottom: 100px
  color = !header_colour
  font:
    weight: bold
    size: 16px
    family: helvetica, arial, sans-serif
  +link_style
  a
    color = !header_colour

#logo
  text-indent: -2000em
  display: block
  width: 445px
  height: 59px
  background:
    image: url('/images/collaborific.png')
    repeat: no-repeat

#utility_menu
  ul
    display: inline
    float: right
    +rounded_corners
    background-color: #eee
    padding:
      right: 10px
      left: 10px
    li
      display: inline
      padding-left: 10px
      padding-right: 10px
      border-right: 1px solid black
      font:
        weight: bold
        size: 12px
      +link_style
      a
        color: #000
      &:last-child
        border: none
        
#sidebar
  margin-top: 15px

#fic_list
  margin-left: 60px
  padding-left: 0
  color: #ccc
  font:
    family: Helvetica Neue, Helvetica, Arial, sans-serif
    size: 40px
  li
    margin-top: 20px
    margin-bottom: 20px
    padding-top: 0px
    padding-bottom: 0px
  p
    +georgia
    +fic_border
  div
    +georgia
    +fic_border

p
  +georgia