%ul{:id => "stories_list"}
  -for story in @stories
    %li
      %strong= link_to story.title, story
      %p
        - "Creator: "
        - story.owner.login if story.owner
      %p
        Description: 
        = story.description
  -if @stories.empty?
    %li No stories added yet...