%ul{:id => "fic_list"}
  - for fic in @fics
    %li
      %div{:class => 'author'}
        %strong= fic.user
      %div{:class => 'date'}= fic.created_at.strftime("%A, %B %d at %H:%M")
      %div{:class => 'fic_content'}= fic.content