%ol{:id => "fic_list"}
  - for fic in @fics
    %a{:name => "#{fic.id}"}
    %li
      %div{:class => 'fic'}
        %p.fic_content
          = wrap_in_paragraphs(fic.content)
        %div{:class => 'author'}
          %strong Author: 
          = link_to fic.user.login, user_page_path(fic.user.login)
        %div{:class => 'date'}= fic.created_at.strftime("%A, %B %d at %H:%M")