#flash
  - flash.each do |key, value|
    %div{:class => key, :id => "flash_#{key}"}= value
    :javascript
      Event.observe(window, 'load', function() {
        setTimeout("$('flash_#{key}').fade({ duration: 2.0 })", 2000);
      });