#flash
  - flash.each do |key, value|
    %div{:class => key, :id => "flash_#{key}"}= value
    :javascript
      Event.observe(window, 'load', function() {
        $('flash_#{key}').fade({ duration: 3.0 });
      });