!!! 5
%html
  %head
    %title Collaborific
    = render :partial => 'layouts/styles'

  %body
  %script{:type => 'text/javascript', :src => '/javascripts/prototype.js'}
  %script{:type => 'text/javascript', :src => '/javascripts/effects.js'}

  %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "rss.rxml"}
  

  %div.container
    = render :partial => 'layouts/header'
  
  %div.container
    = render :partial => 'layouts/flashes'
    
  %div.container
    = yield

    %script{:type => "text/javascript"} 
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => "text/javascript"} 
      try{
      var pageTracker = _gat._getTracker("UA-13097791-2");
      pageTracker._trackPageview();
      } catch(err) {}
